{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
<!--        <th scope="col">Content</th>-->
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>
                <div class="col"><a href="/articles/{{id}}">{{title}}</a></div>
            </td>
<!--            <td>{{content}}</td>-->
        </tr>
    {{/articleList}}
    </tbody>
</table>
{{#msg}}
    <div class="alert alert-warning" role="alert">{{msg}}</div>
{{/msg}}
<div class="d-grid gap-2 d-md-block">
    <a href="/articles/new" class="btn btn-sm btn-primary">글 작성</a>
</div>

{{>layouts/footer}}