{{>layouts/header}}

<table class="table">
{{#article}}
    <thead>
    <tr>
        <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <div class="col">
            <td>{{title}}</td>
            </div>
        </tr>
    </tbody>
    <thead>
    <tr>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <div class="col">
        <td>{{content}}</td>
        </div>
    </tr>
    </tbody>
{{/article}}
</table>
{{#msg}}
    <div class="alert alert-warning" role="alert">{{msg}}</div>
{{/msg}}
<div class="d-grid gap-2 d-md-block">
<a href="/articles/{{article.id}}/edit" class="btn btn-sm btn-primary">글 수정</a>
<a href="/articles"    class="btn  btn-sm btn-primary">글 목록</a>
<a href="/articles/new"  class="btn  btn-sm btn-primary">새글 작성</a>
<a href="/articles/{{article.id}}/delete"  class="btn  btn-sm btn-danger">삭제</a>
</div>
{{>/comments/_comments}}

{{>layouts/footer}}